@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-regular.woff2) format("woff2");
  src: url(../fonts/lato-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-bold.woff2) format("woff2");
  src: url(../fonts/lato-bold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-italic.woff2) format("woff2");
  src: url(../fonts/lato-italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--black);
}

.container {
  width: 71.3%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 95.6%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 91.5%;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

a .header__icon {
  fill: #FFFFFF;
  width: 34px;
  min-height: 34px;
}

a:hover .header__icon {
  background: #F16D7F;
  fill: #5D5D5D;
}

a:focus .header__icon {
  fill: #F1E4E6;
}

a:active .header__icon {
  fill: blue;
}

.header {
  background-color: #222222;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__link {
  margin: 0 0 0 34px;
}

@media (max-width: 375px) {
  .header__link {
    display: none;
  }
}

.header__nav {
  display: none;
}

.header__button {
  border: none;
  background-color: transparent;
}

.brand {
  display: flex;
  margin: 0 0 62px 0;
}

@media (max-width: 767px) {
  .brand {
    min-height: 367px;
  }
}

@media (max-width: 375px) {
  .brand {
    min-height: 363px;
  }
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
  background-color: #F1E4E6;
}

@media (max-width: 767px) {
  .brand__title-wrp {
    padding: 0 0 0 92px;
  }
}

@media (max-width: 500px) {
  .brand__title-wrp {
    min-height: 363px;
    padding: 0 0 0 83px;
  }
}

@media (max-width: 375px) {
  .brand__title-wrp {
    justify-content: center;
  }
}

.brand__img {
  width: 50%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .brand__img {
    width: 50%;
    min-height: 370px;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .brand__img {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__title::before {
  content: '';
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  left: -28px;
  top: 5px;
}

@media (max-width: 375px) {
  .brand__title::before {
    height: 61px;
  }
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

@media (max-width: 767px) {
  .brand__subtitle-pink {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__subtitle-pink {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.heading {
  background-color: #F8F3F4;
}

.heading__block {
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading__item {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.heading__list {
  display: flex;
}

.heading__list-point {
  margin: 0 0 0 3px;
}

.heading__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #636363;
}

.heading__link-pink {
  color: #F16D7F;
}

.catalog__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-align: center;
  margin: 96px 0 0 0;
}

@media (max-width: 767px) {
  .catalog__title {
    margin: 155px 0 0 0;
  }
}

@media (max-width: 375px) {
  .catalog__title {
    margin: 64px 0 0 0;
  }
}

.catalog__text {
  text-align: center;
  color: #9F9F9F;
  margin: 6px 0 48px 0;
}

@media (max-width: 767px) {
  .catalog__text {
    margin: 3px 0 73px 0;
  }
}

@media (max-width: 375px) {
  .catalog__text {
    margin: 3px 0 64px 0;
  }
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 18px 0;
}

.catalog__list-margin {
  margin: 65px 0 48px 0;
}

.catalog__item {
  width: 31.6%;
  min-height: 581px;
  background-color: #F8F8F8;
  margin: 0 0 30px 0;
}

@media (max-width: 1200px) {
  .catalog__item {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .catalog__item {
    margin: 0 0 16px 0;
  }
}

@media (max-width: 500px) {
  .catalog__item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .catalog__item {
    width: 359px;
    min-height: 579px;
    margin: 0 0 16px 0;
  }
}

.catalog__item-image {
  width: 100%;
  object-fit: cover;
}

.catalog__title-product {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 25px 0 0 18px;
}

.catalog__description {
  font-weight: 300;
  color: #5D5D5D;
  margin: 12px 0 0 17px;
}

.catalog__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin: 18px 0 20px 18px;
}

.catalog__button {
  min-width: 211px;
  min-height: 47px;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
  background: #F16D7F;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .catalog__button {
    color: #F26376;
    background: #FFFFFF;
  }
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .sales__list {
    justify-content: center;
    align-items: center;
  }
}

.sales__item {
  padding: 20px;
  box-sizing: border-box;
  width: 31.6%;
  min-height: 260px;
  background-color: #4F4745;
  background-repeat: no-repeat;
  text-transform: uppercase;
  display: flex;
}

@media (max-width: 767px) {
  .sales__item {
    width: 31.6%;
    min-height: 167px;
  }
}

@media (max-width: 375px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
    margin: 32px 0 0 0;
  }
}

.sales__item--woman {
  background-image: url(../img/for_women.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--man {
  background-image: url(../img/for_men.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--kids {
  background-image: url(../img/for_kids.jpg);
  background-position: center;
  background-size: cover;
}

.sales__item--shoes {
  background-image: url(../img/accesories.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
}

@media (max-width: 767px) {
  .sales__item--shoes {
    width: 735px;
    min-height: 116px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 375px) {
  .sales__item--shoes {
    width: 343px;
    min-height: 111px;
    margin: 32px 0 0 0;
  }
}

.sales__text {
  margin: auto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.sales__text-pink {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #F16D7F;
}

.sales__text-box {
  margin: auto;
}

.vip-info {
  background: #222222;
}

.vip-info__list {
  min-height: 341px;
  display: flex;
  justify-content: space-between;
  margin: 95px 0 0 0;
  align-items: center;
}

@media (max-width: 767px) {
  .vip-info__list {
    margin: 65px 0 0 0;
    flex-direction: column;
    min-height: 610px;
    padding: 0 0 64px 0;
  }
}

@media (max-width: 375px) {
  .vip-info__list {
    margin: 96px 0 0 0;
    flex-direction: column;
    min-height: 610px;
    padding: 0 0 81px 0;
  }
}

.vip-info__item {
  max-width: 31.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .vip-info__item {
    margin: 48px 0 0 0;
  }
}

@media (max-width: 375px) {
  .vip-info__item {
    margin: 46px 0 0 0;
  }
}

.vip-info__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #F8F8F8;
  text-align: center;
  margin: 25px 0 16px 0;
}

.vip-info__text {
  text-align: center;
  margin: 16px 0 0 0;
  color: #F8F8F8;
}

.footer__reviews {
  min-height: 448px;
  width: 100%;
  background-image: url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .footer__reviews {
    min-height: 693px;
  }
}

@media (max-width: 375px) {
  .footer__reviews {
    min-height: 550px;
  }
}

.footer__reviews-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

@media (max-width: 767px) {
  .footer__reviews-item {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 693px;
    padding: 53px 0 0 0;
  }
}

@media (max-width: 375px) {
  .footer__reviews-item {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 550px;
    padding: 54px 0 0 0;
  }
}

.footer__reviews-info {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__reviews-text {
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.footer__reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .footer__reviews-block {
    margin: 48px 0 0 0;
  }
}

@media (max-width: 375px) {
  .footer__reviews-block {
    margin: 59px 0 0 0;
  }
}

.footer__reviews-subscribe {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.footer__reviews-subscribe-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.footer__reviews-form {
  display: flex;
  width: 356px;
  height: 49px;
}

.footer__reviews-input {
  display: block;
  width: 256px;
  height: 49px;
  margin: 32px 0 0 0;
  background: #E1E1E1;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  padding: 0 0 0 22px;
}

input::placeholder {
  color: #222222;
}

.footer__reviews-button {
  width: 100px;
  height: 49px;
  margin: 32px 0 0 0;
  background: #F16D7F;
  color: #FFFFFF;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
}

.footer-info {
  background-color: #222222;
}

.footer-info__box {
  display: flex;
  justify-content: space-between;
  min-height: 79px;
  align-items: center;
}

@media (max-width: 375px) {
  .footer-info__box {
    flex-direction: column-reverse;
    min-height: 143px;
    justify-content: flex-start;
    padding: 9px 0 15px 0;
  }
}

.footer-info__copyright {
  color: #F8F8F8;
}

.footer-info__list {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 375px) {
  .footer-info__list {
    margin: 0 0 40px 0;
  }
}

.footer-info__social {
  display: block;
}

.footer-info__item {
  margin: 0 0 0 8px;
}

.footer-info__icon {
  max-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

a .footer-info__icon {
  fill: #000000;
  background-color: #FFFFFF;
  width: 32px;
  min-height: 32px;
  margin: 8px 0 0 0;
}

a:hover .footer-info__icon {
  background: #F16D7F;
  fill: #5D5D5D;
}

a:focus .footer-info__icon {
  fill: #F1E4E6;
}

a:active .footer-info__icon {
  fill: blue;
}
/*# sourceMappingURL=style.css.map */