
$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$black-dark: #000000;
$grayish-green: #5D5D5D;
$ghostly-white: #F8F8F8;
$red: #F26376;
$gray: #E1E1E1;
$blue: blue;