
$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$black-dark: #000000;
$grayish-green: #5D5D5D;
$ghostly-white: #F8F8F8;
$red: #F26376;
$gray: #E1E1E1;
$blue: blue;
$dark-grey: #9F9F9F;
$red-button: #FF6A6A;
$smoky-white: #F8F3F4;
$dull-grey: #636363;


$desktop-width: 1599px;
$tablet-mid-width: 1200px;
$tablet-width: 767px;
$tablet-mobile-mid-widch: 500px;
$mobile-width: 375px;