.catalog__title {
    @include font(30px, 36px);
    color: $black;
    text-align: center;
    margin: 96px 0 0 0;

    @include tablet {
        margin: 155px 0 0 0;
    }

    @include mobile {
        margin: 64px 0 0 0;
    }
}

.catalog__text {
    text-align: center;
    color: $dark-grey;
    margin: 6px 0 48px 0;

    @include tablet {
        margin: 3px 0 73px 0;
    }

    @include mobile {
        margin: 3px 0 64px 0;
    }
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 18px 0;
}

.catalog__list-margin {
    margin: 65px 0 48px 0;
}

.catalog__item {
    width: 31.6%;
    min-height: 581px;
    background-color: $ghostly-white;
    margin: 0 0 30px 0;

    @include tablet-mid-width {
        width: 49%;
    }

    @include tablet {
        margin: 0 0 16px 0;
    }

    @include tablet-mobile-mid {
        width: 100%;
    }

    @include mobile {
        width: 359px;
        min-height: 579px;
        margin: 0 0 16px 0;
    }
}

.catalog__item-image {
    width: 100%;
    object-fit: cover;
}

.catalog__title-product {
    @include font(13px, 16px);
    color: $black-dark;
    text-transform: uppercase;
    margin: 25px 0 0 18px;
}

.catalog__description {
    font-weight: 300;
    color: $grayish-green;
    margin: 12px 0 0 17px;
}

.catalog__price {
    @include font(16px, 19px);
    color: $dark-pink;
    margin: 18px 0 20px 18px;
} 

.catalog__button {
    min-width: 211px;
    min-height: 47px;
    border: 1px solid $red-button;
    color: $white;
    background: $dark-pink;
    display: block;
    margin: 0 auto;

    @include tablet {
        color: $red;
        background: $white;
    }  
}