.footer__reviews {
    min-height: 448px;
    width: 100%;
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__reviews-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 448px;
}

.footer__reviews-info {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__reviews-text {
    margin: 30px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__reviews-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__reviews-subscribe {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__reviews-subscribe-text {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.footer__reviews-form {
    display: flex;
    width: 356px;
    height: 49px;
}

.footer__reviews-input {
    display: block;
    width: 256px;
    height: 49px;
    margin: 32px 0 0 0;
    background: $gray;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    padding: 0 0 0 22px;
}

input::placeholder {
    color: $black;  
}

.footer__reviews-button {
    width: 100px;
    height: 49px;
    margin: 32px 0 0 0;
    background: $dark-pink;
    color: $white;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
}

.footer-info {
    background-color: $black;
}

.footer-info__box {
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
}

.footer-info__copyright {
    color: $ghostly-white;
}

.footer-info__list {
    display: flex;
    justify-content: flex-end;
}

.footer-info__social {
    display: block;
}

.footer-info__item {
    margin: 0 0 0 8px;
}

.footer-info__icon {
    max-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

a .footer-info__icon {
    fill: $black-dark;
    background-color: $white;
    width: 32px;
    min-height: 32px;
    margin: 8px 0 0 0;
}

a:hover .footer-info__icon {
    background: $dark-pink;
    fill: $grayish-green;
}

a:focus .footer-info__icon {
    fill: $light-pink;
}

a:active .footer-info__icon {
    fill: $blue;
}