.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
        justify-content: center;
        align-items: center;
    }
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: $sales-bkg-color;
    background-repeat: no-repeat;
    text-transform: uppercase;
    display: flex;

    @include tablet {
        width: 232px;
        min-height: 167px;
    }

    @include mobile {
        width: 343px;
        min-height: 247px;
        margin: 32px 0 0 0;
    }
}

.sales__item--woman {
    background-image: url(../img/for_women.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--man {
    background-image: url(../img/for_men.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--kids {
    background-image: url(../img/for_kids.jpg);
    background-position: center;
    background-size: cover;
}

.sales__item--shoes {
    background-image: url(../img/accesories.jpg);
    background-position: center;
    background-size: cover;
    width: 1140px;
    min-height: 180px;
    margin: 30px 0 0 0;

    @include tablet {
        width: 735px;
        min-height: 116px;
        margin: 20px 0 0 0;
    }

    @include mobile {
        width: 343px;
        min-height: 111px;
        margin: 32px 0 0 0;
    }
}

.sales__text {
    margin: auto;
    @include font(16px, 19px);
    text-align: center;
    color: $white;
}

.sales__text-pink {
    @include font(24px, 28px);
    text-align: center;
    color: $dark-pink;
}

.sales__text-box {
    margin: auto;
}